.btn {
  margin: 10px;
  overflow: hidden;
  text-align: center;
  border-width: 0;
  outline: none;
  border-radius: 5%;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);
  background-color: rgb(182, 177, 177);
  transition: background-color 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: #9ca09e;
}

.btn.small span {
  display: inline;
  padding: 12px 24px;
  
}
.btn.medium span {
  display: block;
  padding: 12px 24px;
}

.btn.large span {
  display: block;
  padding: 16px 32px;
  font-size: large;
}

.btn.orange {
  background-color: #e67e22;
}

.btn.orange:hover,
.btn.orange:focus {
  background-color: #d35400;
}

.btn.red {
  background-color: #e74d3cbe;
}

.btn.red:hover,
.btn.red:focus {
  background-color: #c0392b;
}

.btn.light {
  background-color: #bbbbbbde;
  color: black;
  text-align: center;
}

.btn.light:hover,
.btn.light:focus {
  background-color: #ffffff;
}

.btn.blue {
  background-color: #638cb5b8;
  color: black;
}

.btn_light_small{
  background-color: #638cb5b8;
  color: black;
  
}

.btn.blue:hover,
.btn.blue:focus {
  background-color: #638cb5;
}

.btn.medium svg{
  object-fit: contain;
  font-size: 40px;
  width: 125px;

} 

.btn.small svg{
  object-fit: contain;
  font-size: 20px;
}

.btn.large svg{
  object-fit: contain;
  font-size:40px;
}