.btn {
  margin: 10px;
  overflow: hidden;

  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.6);

  background-color: #2ecc71;
  color: #ecf0f1;

  transition: background-color 0.3s;
}

.btn:hover,
.btn:focus {
  background-color: #27ae60;
}
.btn.medium span {
  display: block;
  padding: 12px 24px;
}

.btn.large span {
  display: block;
  padding: 16px 32px;
  font-size: large;
}

.btn.orange {
  background-color: #e67e22;
}

.btn.orange:hover,
.btn.orange:focus {
  background-color: #d35400;
}

.btn.red {
  background-color: #e74d3cbe;
}

.btn.red:hover,
.btn.red:focus {
  background-color: #c0392b;
}

.btn.light {
  background-color: #bbbbbbde;
  color: black;
}

.btn.light:hover,
.btn.light:focus {
  background-color: #ffffff;
}

.btn.blue {
  background-color: #638cb5b8;
  color: black;
}

.btn_light_small{
  background-color: #638cb5b8;
  color: black;
  
}

.btn.blue:hover,
.btn.blue:focus {
  background-color: #638cb5;
}
