.input__container {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    margin-top:10px;
}

.input__container > label {
    margin-right: 10px;
  }

.input__container > input {
    background-color:  rgba(58, 57, 57, 0.151);
    border: none;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    border-bottom: 1px solid rgb(58, 57, 57);
    color: rgb(48, 48, 48);
    box-sizing: border-box;
    font-size: 18px;
    left: 50%;
    top: 50%;
    width: 200px;
    padding:3px;
    
  
}

.input__container > input:focus {
   outline: none;
  
}