@media screen and (max-width: 992px) {
  .suggestions {
    display: none;
  }

  .profile__user__follower__image > img {
    object-fit: contain;
    width: 200px;
  }

  .posting {
    flex: 0.8;
  }
}
