.edit_post_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(53, 52, 52, 0.904); /* Black w/ opacity */
}

/* edit_post_modal Content/Box */
.edit_post_modal-content {
  background-image: url("../img/background.jpg");
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: none;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.delete_post_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(53, 52, 52, 0.904); /* Black w/ opacity */
}

/* delete_post_modal Content/Box */
.delete_post_modal-content {
  background-image: url("../img/background.jpg");
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: none;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

.content {
  background-image: url("../img/background.jpg");
  width: 100%;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.delete__post {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.edit__post {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
}

.edit_profile_modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(53, 52, 52, 0.904); /* Black w/ opacity */
}

/* edit_post_modal Content/Box */
.edit_profile_modal-content {
  background-image: url("../img/background.jpg");
  overflow-x: hidden;
  overflow-y: hidden;
  scroll-behavior: none;
  margin: 7% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
  height: 40%;
}

.edit__profile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.edit__profile__image > img {
  object-fit: contain;
  width: 240px;
  flex: 0,3;
  border-radius: 30px;
  font-size: 20px;
}

.edit__profile__basics {
  flex: 0.5;
}

.edit__profile__buttons {
  flex: 0.2;
  align-self: flex-end;
  justify-self: flex-end;
}
