{% block content %}
<div class="posting">
  <div class="posting__newPost">
    <div class="posting__newPost__user">
      <div class="posting__newPost__user__image">
        <img
          src="https://images-na.ssl-images-amazon.com/images/I/71r4nHPkV0L.png"
        />
      </div>
    </div>
    <div class="posting__newPost__content">
      <form method="POST" action="{% url 'addPost' %}">
        {% csrf_token %}
        <textarea
          name="content"
          class="newPost"
          cols="100"
          rows="10"
          type="text"
          placeholder="Enter a text..."
        ></textarea>
        <button type="submit">Tweet</button>
      </form>
    </div>
  </div>
  <div class="posting__posts__container">
    <div class="posting__postsList">
      {% for post in posts %}
      <div
        class="posting__post"
        onClick="javascript:postClicked('{{ post.author }}')"
      >
        <div class="posting__post__user" id="{{ post.id }}">
          <div class="posting__post__user__image">
            <img
              src="https://images-na.ssl-images-amazon.com/images/I/71r4nHPkV0L.png"
            />
          </div>
          <div class="posting__post__user__username">
            <h3>@{{ post.author }}</h3>
            <p>{{ post.timestamp }}</p>
          </div>
        </div>
        <div class="posting__post__content">
          <p>{{ post.content }}</p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<script type="text/javascript">
  function postClicked(author) {
    console.log("post clicked");
    var url = "{% url 'profile' 0 %}".replace("0", author);
    document.location.replace(url);
  }
</script>

{% endblock %}
