{% block sidebar %}

<div class="sidebar">
  <div class="sidebar__user">
    <div class="sidebar__user__image">
      <img
        id="#user__profile__image"
        src="https://images-na.ssl-images-amazon.com/images/I/71r4nHPkV0L.png"
      />
    </div>
    <div class="sidebar__user__details">
      <h1>@ {{ user.username }}</h1>
    </div>
  </div>

  <div class="sidebar__menu">
    <div class="sidebar__menu__option home">
      <span class="iconify" data-icon="fa:home"></span>
      <h3>Home</h3>
    </div>
    <div class="sidebar__menu__option profile">
      <span class="iconify" data-icon="vs:profile" data-inline="false"></span>
      <h3>Perfil</h3>
    </div>
    <div class="sidebar__menu__option tweets">
      <span
        class="iconify"
        data-icon="clarity:note-edit-solid"
        data-inline="false"
      ></span>
      <h3>Tus Tweets</h3>
    </div>
    <div class="sidebar__menu__option followers">
      <span
        class="iconify"
        data-icon="ri:user-follow-fill"
        data-inline="false"
      ></span>
      <h3>Seguidores</h3>
    </div>
  </div>

  <div class="sidebar__logout">
    <span
      class="iconify"
      data-icon="ri:logout-box-fill"
      data-inline="false"
    ></span>
    <h3>Logout</h3>
  </div>

  <script type="text/javascript">
    //Agafem el item del menu
    $(document).ready(function () {
      $(".home").click(function () {
        $(".home").addClass("selected__option");
        window.location.replace("{% url 'home' %}");
      });
      $(".profile").click(function () {
        var username = "{{user.username}}";
        var url = "{% url 'profile' 0 %}".replace("0", username);
        $(".profile").addClass("selected__option");
        window.location.replace(url);
      });
      $(".tweets").click(function () {
        $(".tweets").addClass("selected__option");
        console.log("tweets");
      });
      $(".followers").click(function () {
        $(".followers").addClass("selected__option");
        console.log("followers");
      });
      $(".sidebar__logout").click(function () {
        window.location.replace("{% url 'logout' %}");
      });
    });
  </script>
</div>

{% endblock %}
