{% block content %}
<div class="suggestions">
  <div class="suggestions__header"></div>

  <div class="suggestions__follow">
    <div class="suggestions__follow__title">
      <h1>A Quien Seguir!</h1>
    </div>
    <div class="suggestions__follow__users">
      <div class="suggestion__follow__user__item">
        <div class="suggestion__follow__user__image">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/71r4nHPkV0L.png"
          />
        </div>
        <div class="suggestion__follow__user__info">
          <h3>Pedro</h3>
          <h5>100 followers</h5>
        </div>
        <div class="suggestion__follow__user__actions">
          <button>Seguir</button>
        </div>
      </div>
      <div class="suggestion__follow__user__item">
        <div class="suggestion__follow__user__image">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/71r4nHPkV0L.png"
          />
        </div>
        <div class="suggestion__follow__user__info">
          <h3>Pedro</h3>
          <h5>100 followers</h5>
        </div>
        <div class="suggestion__follow__user__actions">
          <button>Seguir</button>
        </div>
      </div>
      <div class="suggestion__follow__user__item">
        <div class="suggestion__follow__user__image">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/71r4nHPkV0L.png"
          />
        </div>
        <div class="suggestion__follow__user__info">
          <h3>Pedro</h3>
          <h5>100 followers</h5>
        </div>
        <div class="suggestion__follow__user__actions">
          <button>Seguir</button>
        </div>
      </div>
      <div class="suggestion__follow__user__item">
        <div class="suggestion__follow__user__image">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/71r4nHPkV0L.png"
          />
        </div>
        <div class="suggestion__follow__user__info">
          <h3>Pedro</h3>
          <h5>100 followers</h5>
        </div>
        <div class="suggestion__follow__user__actions">
          <button>Seguir</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
