{% block content %}
<div class="suggestions">
  <div class="suggestions__header"></div>

  <div class="suggestions__follow">
    <div class="suggestions__follow__title">
      <h1>A Quien Seguir!</h1>
    </div>
    <div class="suggestions__follow__users">
      {% for user in notFollowingUsers %}
      <div class="suggestion__follow__user__item">
        <div class="suggestion__follow__user__image">
          <img src="{{user.userImage.image.url}}" />
        </div>
        <div class="suggestion__follow__user__info">
          <h3>@{{ user.user }}</h3>
        </div>
        <div class="suggestion__follow__user__actions">
          <form method="POST" action="{% url 'followUser' %}">
            {% csrf_token %}
            <input type="hidden" name="username" value="{{user.user}}" />
            <input type="hidden" name="action" value="1" />
            <input type="hidden" name="origin" value="home" />
            <button class="btn orange small" type="submit">
              <span class="iconify" data-icon="carbon:user-follow" data-inline="false"></span>
              <span class="btn_text">Seguir</span>
            </button>
          </form>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
