{% block content %}
<div class="users__list">
    <h1>Users</h1>
    {% for user in users %}
    <div class="user__item">
            <img src="https://icons-for-free.com/iconfiles/png/512/avatar+human+male+man+men+people+person+profile+user+users-1320196163635839021.png" />
            <a href='{% url 'profile' user.user.username %}'>@ {{ user.user.username }} </a>
            <form method="POST" action='{% url 'followUser'  %}'>
                {% csrf_token %}
               <input type="hidden" name="username" value='{{ user.user.username }}' />
               <input type="hidden" name="action" value='1' />
               <input type="hidden" name="origin" value="home" />
               <button type="submit"> Seguir </button>
            </form>
            
    </div>

    {% endfor %}
</div>

{% endblock %}