<!DOCTYPE html>
<html>

{% load static %}
<link rel="stylesheet" href="{% static 'auth.css' %}">
<body>
    <form method="POST">
        {% csrf_token %}
        <div>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
          </div>
          <div>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
          </div>
        <input type="submit" value="Enviar" />
    </form>

    <a href='{% url 'register' %}'>Register</a>

</body>
</html>

