{% extends "base.html" %}
{% block content %}
    <h1> home </h1>
        {{ user.username }}
        {{ user.email }}
        <a href="/profile/edit/">Editar perfil</a>
        <a href="{% url 'logout' %}">Log out</a>
        <form method="POST" action="{% url 'addPost' %}">
            {% csrf_token %}
            {{ newPostForm }}
            <button type="submit">Add Post</button>
        </form>
      
     {% for post in posts %}
        <div> 
            <h3>{{ post.content }}</h3>
            <a href='profile/{{ post.author.username }}'> {{ post.author.username }} </a>
        </div>
    {% endfor %}

</body>
</html>
{% endblock %}
