.cubo{
    padding-top: 50px;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 15%;
    text-align: center;
}

img{
    object-fit: contain;
    width: 128px;
    align-content:  center;
}

input[type=text], input[type=password]{
    padding: 15px;
    margin: 5px 0 22px 0;
    border: 20 px black;
    border-right-color: black;
    border-bottom-color: black;
    /*Color etiqueta por defecto*/
    background: #ffffff;
}
  /*Color del interior de los forumularios al hacer */
input[type=text]:focus, input[type=password]:focus{
    background-color: rgb(175, 174, 174);
}
  
  
.btnenviar2{
    background-color:#638cb5;
    font-size: 20px;
    font-family:Verdana,Helvetica;
    color: white;
    border-radius: 15%; 
    margin: 5px;
    border: 5px black;
    cursor: pointer;
    height: 60px;
    width: 200px;
    opacity: 80%;
}
/*Textos del registro*/
.input__container > label{
    font-size: 50px;
    font-family:Verdana;
}
.login__header{
    padding: 5px;
    background-color: white;
    align-content: center;
  
}
.login__form{
    padding: 5px;
    background-color: white;
    display: block;
    font-size: larger;
}