body,
html {
  height: 100%;
  background-image: url("img/background.jpg");
  position: relative;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
}

/* #region Login */

.login__container {
  position: relative;
  background-color: rgba(189, 189, 189, 0.301);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login__header > img {
  width: 256px;
}

.input__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.input__container > label {
  margin-right: 10px;
}

.login__form__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.login__form__switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #endregion Login */

/* #region Register */
.register__container {
  position: relative;
  background-color: rgba(238, 237, 237, 0.301);
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register__header > img {
  width: 256px;
}

.input__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.input__container > label {
  margin-right: 10px;
}

.register__form__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.register__form__switch {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #endregion Register */

/* #region Home */
.sidebar {
  flex: 0.2;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgba(189, 189, 189, 0.301);
}

.posting {
  flex: 0.5;
  background-color: rgba(252, 252, 252, 0.301);
}

.suggestions {
  flex: 0.3;
  background-color: rgba(189, 189, 189, 0.301);
}

/* #region Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__user {
  display: flex;
}

.sidebar__user__image {
  flex: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.sidebar__user__image > img {
  object-fit: contain;
  height: 128px;
}

.sidebar__user__details {
  flex: 0.6;
  display: flex;
}

.sidebar__menu {
  flex: 0.7;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar__menu__option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.sidebar__menu__option > h3 {
  flex: 0.7;
  font-size: xx-large;
}

.sidebar__menu__option > svg {
  font-size: 64px;
}

.sidebar__logout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.sidebar__logout > svg {
  font-size: 64px;
}

/* #endregion Sidebar */

/* #region Suggestions */

/* #endregion Suggestions */

/* #endregion Home */
