body,
html {
  height: 100%;
  background-image: url("img/background.jpg");
  position: relative;
}

.app {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  height: 70vh;
  width: 90vw;
  display: flex;
  flex-direction: row;
}

/* #region Login */

.login__container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_parche {
  border: 1px solid black;
  position: relative;
  background-color: rgba(240, 233, 233, 0.925);
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30 large;
  border-radius: 10%;
}
.input__container > input:focus {
  background-color: rgb(182, 155, 155);
}
.login__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.login_submit {
  background-color: #638cb5;
  font-size: 20px;
  font-family: Verdana, Helvetica;
  color: rgb(253, 237, 237);
  border-radius: 5%;
  border: 2px solid black;
  cursor: pointer;
  height: 50px;
  width: 150px;
  opacity: 80%;
}
.login__header > img {
  width: 256px;
  padding-bottom: 25px;
}

.input__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}

.input__container > label {
  margin-right: 10px;
}

.login__form__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.login__form__switch {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* #endregion Login */

/* #region Register */
.register__container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.register_parche {
  border: 1px solid black;
  position: relative;
  background-color: rgba(240, 233, 233, 0.925);
  width: 22%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 30 large;
  border-radius: 10%;
}
.register_submit {
  background-color: #638cb5;
  font-size: 20px;
  font-family: Verdana, Helvetica;
  color: rgb(253, 237, 237);
  border-radius: 5%;
  border: 2px solid black;
  cursor: pointer;
  height: 50px;
  width: 150px;
  opacity: 80%;
}

.register__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register__header > img {
  width: 256px;
  padding-bottom: 25px;
}

.input__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.input__container > label {
  margin-right: 10px;
}

.register__form__submit {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.register__form__switch {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* #endregion Register */

/* #region Home */
.sidebar {
  flex: 0.2;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-color: rgba(189, 189, 189, 0.301);
}

.posting {
  flex: 0.5;
  background-color: rgba(252, 252, 252, 0.301);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

.suggestions {
  flex: 0.3;
  background-color: rgba(189, 189, 189, 0.301);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  display: flex;
  flex-direction: column;
}

/* #region Sidebar */

.sidebar {
  display: flex;
  flex-direction: column;
}

.sidebar__user {
  display: flex;
}

.sidebar__user__image {
  flex: 0.4;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px;
}

.sidebar__user__image > img {
  object-fit: contain;
  height: 128px;
}

.sidebar__user__details {
  flex: 0.6;
  display: flex;
}

.sidebar__menu {
  flex: 0.7;

  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.sidebar__menu__option {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  cursor: pointer;
}
.sidebar__menu__option > h3 {
  flex: 0.7;
  font-size: xx-large;
  transition: text-decoration 200ms ease-in-out;
}

.sidebar__menu__option > svg {
  font-size: 64px;
  transition: font-size 200ms ease-in-out;
}

.sidebar__menu__option:hover {
  background-color: rgba(92, 89, 89, 0.24);
}

.sidebar__menu__option:hover > h3 {
  text-decoration: underline black;
}

.sidebar__menu__option:hover > svg {
  font-size: 72px;
}

.sidebar__logout {
  flex: 0.3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  transition: background-color 200ms ease-in-out;
  cursor: pointer;
}
.sidebar__logout > h3 {
  opacity: 0;
  transition: opacity 400ms ease-in-out;
}

.sidebar__logout > svg {
  font-size: 64px;
}

.sidebar__logout:hover {
  background-color: rgba(92, 89, 89, 0.24);
}

.sidebar__logout:hover > h3 {
  opacity: 1;
}

.selected__option {
  background-color: rgba(92, 89, 89, 0.24);
}

/* #endregion Sidebar */

/* #region Suggestions */

.suggestions__header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.suggestions__follow {
  display: flex;
  flex-direction: column;
  flex: 0.8;
}

.suggestions__follow__title {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid black;
  flex: 0.2;
}

.suggestions__follow__users {
  flex: 0.8;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.suggestion__follow__user__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 1;
  width: 80%;
}

.suggestion__follow__user__image {
  flex: 0.1;
}

.suggestion__follow__user__image > img {
  object-fit: contain;
  border-radius: 10%;
  width: 64px;
}

.suggestion__follow__user__info {
  display: flex;
  width: 80%;
  flex: 0.8;
}
.suggestion__follow__user__info > h3 {
  font-size: 1.8rem;
  flex: 0.6;
}
.suggestion__follow__user__info > h5 {
  font-size: 1.2rem;
  color: gray;
  flex: 0.4;
}

/* #endregion Suggestions */

/* #region Posts */

.posting__newPost {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex: 0.2;
}

.posting__newPost__user {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.posting__newPost__user__image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.posting__newPost__user__image > img {
  object-fit: contain;
  width: 128px;
}

.posting__newPost__content {
  display: flex;
  align-items: center;
  padding: 10px;
}
.posting__newPost__content > form {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items: flex-end;
}

.posting__newPost__content > form > button {
  background-color: #638cb5;
  font-size: 20px;
  font-family: Verdana, Helvetica;
  color: rgb(253, 237, 237);
  border-radius: 5%;
  border: 2px solid black;
  cursor: pointer;
  height: 50px;
  width: 150px;
  opacity: 80%;
  margin: 5px;
}

.posting__newPost__content > form > textarea {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  resize: none;
  width: 100%;
}

.newPost {
  overflow: hidden;
  background-color: #fff;
  color: #222;
  font-family: Courier, monospace;
  font-weight: normal;
  font-size: 24px;
  resize: none;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 45px;
  padding-bottom: 34px;
  background-image: url(https://static.tumblr.com/maopbtg/E9Bmgtoht/lines.png),
    url(https://static.tumblr.com/maopbtg/nBUmgtogx/paper.png);
  background-repeat: repeat-y, repeat;
  opacity: 0.8;
  -webkit-border-radius: 12px;
  border-radius: 12px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  height: 200px;
}

.posting__posts__container {
  position: relative;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.posting__postsList {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 100%;
  width: 100%;
  overflow: scroll;
}

.posting__postsList::-webkit-scrollbar {
  display: none;
}

.posting__post {
  background-color: rgba(189, 189, 189, 0.301);
  margin: 10px;
  border-radius: 10%;
  transition: background-color 200ms ease-in-out;
  display: flex;
  flex-direction: row;
}

.posting__post:hover {
  background-color: rgba(63, 61, 61, 0.281);
}

.posting__post__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: backgroud-color 200ms ease-in-out;
  width: max-content;
  padding: 5px;
  cursor: pointer;
}

.posting__post__user__image:hover {
  background-color: rgba(63, 61, 61, 0.116);
  border-radius: 20%;
}

.posting__post__user__image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  border-radius: 20px;
}

.posting__post__user__image > img {
  object-fit: contain;
  width: 64px;
  transition: transform 400ms ease-in-out;
}

.posting__post__user:hover > .posting__post__user__image > img {
  transform: scale(1.2);
}

.posting__post__user__username {
  display: flex;
  align-items: center;
}

.posting__post__user__username > p {
  margin-left: 10px;
  color: gray;
}

.posting__post__content {
  margin-left: 20px;
  display: flex;
  flex:0.7;
  font-size: 1.5rem;
}

.posting__post__content > p{
  display: flex;
  align-items: flex-start;
  height: fit-content;
}

.posting__post__content > p > img {
  object-fit: contain;
  width: 32px;
}


.posting__post__options {
  flex:0.2;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}



.posting__post__option > svg {
  font-size: 48px;
  margin-right: 20px;
  cursor: pointer;
  color:gray;
  transition: color 200ms ease-in;
}

.posting__post__option > p{
  opacity: 0;
  color:gray;
  transition: opacity 200ms ease-in-out;
  transition: color 400ms ease-in-out;
}

.posting__post__option > svg:hover{
  color:black;
}

.posting__post__option:hover > p {
  opacity: 1;
  color:black;
  font-weight: 900;
}
/* #endregion Posts */

/* #endregion Home */

/* #region UserProfile */
.profile__container {
  flex: 0.8;
  background-color: rgba(252, 252, 252, 0.301);
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  display: flex;
  flex-direction: column;
}

.profile__user__info {
  display: flex;
  align-items: center;
  flex: 0.3;
  border-bottom: 1px solid black;
}

.profile__user__image {
  flex: 0.2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile__user__image > img {
  object-fit: contain;
  width: 156px;
}

.profile__user__basics {
  flex: 0.3;
}

.profile__user__details {
  flex: 0.4;
  display: flex;
  flex-direction: column;
}

.profile__user__details > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  font-size: 1.7rem;
}

.profile__user__details > div:nth-child(odd) > svg {
  font-size: 2rem;
  padding: 10px;
}

.profile__user__details > div > svg {
  padding: 10px;
}

.profile__user__options {
  display: flex;
  align-items: center;
  flex: 0.2;
}

.profile__user__options button {
  background-color: #638cb5;
  font-size: 20px;
  font-family: Verdana, Helvetica;
  color: rgb(253, 237, 237);
  border-radius: 5%;
  border: 2px solid black;
  cursor: pointer;
  height: 50px;
  width: 150px;
  opacity: 80%;
  margin: 5px;
}

.profile__user__activity {
  flex: 0.7;
  display: flex;
  flex-direction: row;
}

.profile__user__tweets {
  flex: 0.7;
  border-right: black 1px solid;
}

.profile__user__followers {
  flex: 0.3;
  display: flex;
  flex-direction: column;
}

.profile__user__followers__title > h1{
  text-align: center;
}


.profile__user__follower__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.profile__user__follower__image {
  display: flex;
  flex-direction: row;
  flex: 0.3;
}

.profile__user__follower__image > img {
  object-fit: contain;
  width: 96px;
}

.profile__user__follower__info {
  flex: 0.5;
}

.profile__user__follower__info > h3 {
  font-size: 1.7rem;
  flex:0.2;
}

/* #endregion UserProfile */
