/*CSS registre PROV*/
.container {
  padding-top: 20px;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 50px;  
  background-size: 100% 100%;
  text-align: center;
}
img{
  object-fit: contain;
  width: 128px;
}

input[type=text], input[type=password] {
  padding: 15px;
  margin: 5px 0 22px 0;
  border: 20 px black;
  border-right-color: black;
  border-bottom-color: black;
  background: #ffffff;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  
}

.btnenviar {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.input__container > label{
  font-size: 100px;
}


