{% block edit %}

<div onClick="openDeleteModal({{post.id}})" class="posting__post__option">
  <span
    class="iconify"
    data-icon="fluent:delete-24-filled"
    data-inline="false"
  ></span>
  <p>Delete</p>
</div>

<!-- The Modal -->
<div id="delete_post_modal_{{post.id}}" class="delete_post_modal">
  <!-- Modal content -->
  <div class="delete_post_modal-content">
    <div class="content">
      <span onClick="closeDeleteModal({{post.id}})" class="close"
        >&times;</span
      >
      <div class="posting__post"></div>

      {% include 'posts/post.html' %}

      <div>
        <p>Quieres eliminar este post?</p>
         <form method="POST" action="{% url 'deletePost' %}">
        {% csrf_token %}
        <div class="delete__post">
            <input type="hidden" name="post_id" value="{{post.id}}" />
            <button class="btn red medium" type="submit">
              <span>Si, deseo eliminar este post</span>
            </button>
            <button
              type="button"
              class="btn light medium"
              onClick="closeDeleteModal({{post.id}})"
            >
              <span>Cancelar</span>
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  function openDeleteModal(post) {
    var edit_modal = $("#delete_post_modal_" + post);

    edit_modal.css("display", "block");

    console.log(post);
  }
  function closeDeleteModal(post) {
    var edit_modal = $("#delete_post_modal_" + post);

    edit_modal.css("display", "none");
  }
</script>

{% endblock %}
