{% block edit %}

            <div onClick="openEditModal({{post.id}})" class="posting__post__option">
              <span class="iconify" data-icon="fa-solid:edit" data-inline="false"></span>
              <p>Edit</p>
            </div>

            <!-- The Modal -->
            <div id="edit_post_modal_{{post.id}}" class="edit_post_modal">
              <!-- Modal content -->
              <div class="edit_post_modal-content">
                <div class="content">
                  <span onClick="closeEditModal({{post.id}})" class="close">&times;</span>
                  {% include 'posts/editPost.html' %}
                  <div>
                    <div class="edit__post">
                      <button class="btn blue medium" type="submit">
                        <span>Editar</span>
                      </button>
                      
                      <button type="button" class="btn light medium" onClick="closeEditModal({{post.id}})">
                        <span>Cancelar</span>
                      </button>
                    </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>

<script type="text/javascript">
 function openEditModal(post) {
    console.log("post");
    console.log("edit_post_modal_" + post)
    var edit_modal = $("#edit_post_modal_" + post);

    edit_modal.css("display", "block");

    console.log(post);
  }
  function closeEditModal(post) {
    var edit_modal = $("#edit_post_modal_" + post);

    edit_modal.css("display", "none");
  }
</script>

{% endblock %}
