{% block edit_profile %}

<div onClick="openEditProfileModal()" class="profileing__profile__option">
  <button class="btn blue large" onClick="editProfile()">
    <span>Editar Perfil</span>
  </button>
</div>

<!-- The Modal -->
<div id="edit_profile_modal" class="edit_profile_modal">
  <!-- Modal content -->
  <div class="edit_profile_modal-content">
    <div class="content">
      <span onClick="close_edit_profile_modal()" class="close">&times;</span>
    </div>
  </div>
</div>

<script type="text/javascript">
  function openEditProfileModal(profile) {
    var edit_modal = $("#edit_profile_modal");

    edit_modal.css("display", "block");

    console.log(profile);
  }
  function close_edit_profile_modal() {
    var edit_modal = $("#edit_profile_modal");

    edit_modal.css("display", "none");
  }
</script>

{% endblock %}
