{% block edit_profile %}

<div onClick="openEditProfileModal()" class="profileing__profile__option">
  <button class="btn blue large" onClick="editProfile()">
    <span class="iconify" data-icon="bx:bx-message-square-edit" data-inline="false"></span>
    <span class="btn_text">Editar Perfil</span>
  </button>
</div>

<!-- The Modal -->
<div id="edit_profile_modal" class="edit_profile_modal">
  <!-- Modal content -->
  <div class="edit_profile_modal-content">
    <div class="content">
      <span onClick="close_edit_profile_modal()" class="close">&times;</span>
      <form
        method="POST"
        action="{% url 'editProfile' %}"
        enctype="multipart/form-data"
      >
        {% csrf_token %}
        <div class="edit__profile">
          <div class="edit__profile__image">
            <img src="{{userImage.image.url}}" />
            <input type="file" name="profileImage" />
          </div>
          <div class="edit__profile__basics">
            <div class="input__container">
              <label for="first_name">Nombre</label>
              {% if userProfile.firstname is None %}
              <input maxlength="20" name="first_name" />
              {% else %}
              <input maxlength="20" name="first_name" value="{{userProfile.firstname}}" />
              {% endif %}
            </div>
            <div class="input__container">
              <label for="last_name">Apellido</label>
              {% if userProfile.lastname is None %}
              <input maxlength="20" name="last_name" />
              {% else %}
              <input maxlength="20" name="last_name" value="{{userProfile.lastname}}" />
              {% endif %}
            </div>
            <div class="input__container">
              <label for="email">Email</label>
              {% if userProfile.email is None %}
              <input maxlength="30" type="email" name="email" />
              {% else %}
              <input maxlength="30" type="email" name="email" value="{{userProfile.email}}" />
              {% endif %}
            </div>
          </div>

          <div class="edit__profile__buttons">
            <button class="btn blue large" type="submit">
              <span class="iconify" data-icon="bx:bx-message-square-edit" data-inline="false"></span>
              <span class="btn_text">Editar Perfil</span>
            </button>
            <button
              type="button"
              onClick="close_edit_profile_modal()"
              class="btn medium light"
            > <span class="iconify" data-icon="flat-color-icons:cancel" data-inline="false"></span>
              <span class="btn_text">Cancelar</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

{% if isFirstTime %}
<script type="text/javascript">
  $(document).ready(function () {
    var edit_modal = $("#edit_profile_modal");
    edit_modal.css("display", "block");
  });
</script>
{% endif %}

<script type="text/javascript">
  function openEditProfileModal(profile) {
    var edit_modal = $("#edit_profile_modal");

    edit_modal.css("display", "block");

    console.log(profile);
  }
  function close_edit_profile_modal() {
    var edit_modal = $("#edit_profile_modal");

    edit_modal.css("display", "none");
  }
</script>

{% endblock %}
