{% extends "base.html" %}
{% block content %}

    <h1> {{user.username}} Profile </h1>

    {% if isOwnProfile %}
        <a href=''>Editar Perfil</a>
    {% endif %}


    <h2>Recent posts from {{ user }} </h2>

    {% for post in posts %}
        <div> 
            <h3>{{ post.content }}</h3>
            <i> {{ post.timestamp }} </i>
            {% if isOwnProfile %}
                <a href='{% url 'editPost' post.id %}'>Editar Post</a>
                <a href='{% url 'deletePost' post.id %}'>Eliminar Post</a>
            {% endif %}
        </div>
    {% endfor %}

    <h1>Followers</h1>
    {% for follower in followers %}
        <p> {{ follower.follower.username }} </p>
    {% endfor %}

    {% if isFollowingProfile %}
        <h1> You're followinf the user </h1>
        <form method="POST" action="{% url 'followUser' %}">
            {% csrf_token %}
            {{ followUserForm }}
            <button type="submit">Unfollow User</button>
        </form>
    {% else %}
        <form method="POST" action="{% url 'followUser' %}">
            {% csrf_token %}
            {{ followUserForm }}
            <button type="submit">Follow User</button>
        </form>
    {% endif %}


{% endblock %}