{% extends "base.html" %} {% block content %} {% include 'home/sidebar.html' %}

<div class="profile__container">
  <div class="profile__user__info">
    <div class="profile__user__image">
      <img
        src="https://images-na.ssl-images-amazon.com/images/I/71r4nHPkV0L.png"
      />
    </div>
    <div class="profile__user__basics">
      <h2>@ Pedro</h2>
      <p>Last login - 2 days ago</p>
    </div>
    <div class="profile__user__details">
      <p>First Name: Pedro</p>
      <p>Last Name: Gonzales</p>
      <p>Email: pedro.gonzales@gmail.com</p>
    </div>
  </div>
  <div class="profile__user__activity">
    <div class="profile__user__tweets">
      <div class="posting__posts__container">
        <div class="posting__postsList">
          <div class="posting__post">
            <div class="posting__post__user">
              <div class="posting__post__user__image">
                <img
                  src="https://images-na.ssl-images-amazon.com/images/I/71r4nHPkV0L.png"
                />
              </div>
              <div class="posting__post__user__username">
                <h3>@Pedro</h3>
                <p>25 min ago</p>
              </div>
            </div>
            <div class="posting__post__content">
              <p>Welcome to the fucking sheeet neeeger!</p>
            </div>
          </div>
          <div class="posting__post">
            <div class="posting__post__user">
              <div class="posting__post__user__image">
                <img
                  src="https://images-na.ssl-images-amazon.com/images/I/71r4nHPkV0L.png"
                />
              </div>
              <div class="posting__post__user__username">
                <h3>@Pedro</h3>
                <p>25 min ago</p>
              </div>
            </div>
            <div class="posting__post__content">
              <p>Welcome to the fucking sheeet neeeger!</p>
            </div>
          </div>
          <div class="posting__post">
            <div class="posting__post__user">
              <div class="posting__post__user__image">
                <img
                  src="https://images-na.ssl-images-amazon.com/images/I/71r4nHPkV0L.png"
                />
              </div>
              <div class="posting__post__user__username">
                <h3>@Pedro</h3>
                <p>25 min ago</p>
              </div>
            </div>
            <div class="posting__post__content">
              <p>ILLL EATT YOURRR PUSSSYYYY</p>
            </div>
          </div>
          <div class="posting__post">
            <div class="posting__post__user">
              <div class="posting__post__user__image">
                <img
                  src="https://images-na.ssl-images-amazon.com/images/I/71r4nHPkV0L.png"
                />
              </div>
              <div class="posting__post__user__username">
                <h3>@Pedro</h3>
                <p>25 min ago</p>
              </div>
            </div>
            <div class="posting__post__content">
              <p>HEHEHEHEHHEHEHHEHEHHE NANEEEEEEEEEEEEEE</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="profile__user__followers">
      <div class="profile__user__follower__item">
        <div class="profile__user__follower__image">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/71r4nHPkV0L.png"
          />
        </div>
        <div class="profile__user__follower__info">
          <h3>@ Pedro</h3>
        </div>
      </div>
      <div class="profile__user__follower__item">
        <div class="profile__user__follower__image">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/71r4nHPkV0L.png"
          />
        </div>
        <div class="profile__user__follower__info">
          <h3>@ Pedro</h3>
        </div>
      </div>
      <div class="profile__user__follower__item">
        <div class="profile__user__follower__image">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/71r4nHPkV0L.png"
          />
        </div>
        <div class="profile__user__follower__info">
          <h3>@ Pedro</h3>
        </div>
      </div>
      <div class="profile__user__follower__item">
        <div class="profile__user__follower__image">
          <img
            src="https://images-na.ssl-images-amazon.com/images/I/71r4nHPkV0L.png"
          />
        </div>
        <div class="profile__user__follower__info">
          <h3>@ Pedro</h3>
        </div>
      </div>
    </div>
  </div>

  {% endblock %}
</div>
