{% extends "profile/base_profile.html" %} {% block profile %} 

<div class="profile__container">
  <div class="profile__user__info">
    <div class="profile__user__image">
      <img
        src="https://images-na.ssl-images-amazon.com/images/I/71r4nHPkV0L.png"
      />
    </div>
    <div class="profile__user__basics">
      <h1>@{{ userProfile.profileUsername }}</h1>
      <p>Last login - 2 days ago</p>
    </div>
    <div class="profile__user__details">
    <div>
        <span class="iconify" data-icon="si-glyph:badge-name" data-inline="false"></span>
        <div>
            <p>Pedro Gonzales</p>
            <p></p>
        </div>
      </div>  
      <div>
        <span class="iconify" data-icon="dashicons:email-alt" data-inline="false"></span>
        <p> {{ userProfile.email}}</p>
      </div>
      
    </div>
    <div class="profile__user__options">
        {% if isOwnProfile %}
              <button onClicl="editProfile()">Editar Perfil</button>
        {% else %}
            {% if isFollowingProfile %}
            <form method="POST" action="{% url 'followUser' %}">
                  {% csrf_token %}
                  {{ followUserForm }}
                <button>Dejar de Seguir</button>
            </form>
            {% else %}
                 <form method="POST" action="{% url 'followUser' %}">
                  {% csrf_token %}
                  {{ followUserForm }}
                <button>Seguir</button>
            </form>
            {% endif %}
        {% endif %}

    </div>
  </div>
  <div class="profile__user__activity">
    <div class="profile__user__tweets">
      <div class="posting__posts__container">
        <div class="posting__postsList">
          {% for post in posts %}
            <div class="posting__post">
              <div class="posting__post__user">
                <div class="posting__post__user__image">
                  <img
                    src="https://images-na.ssl-images-amazon.com/images/I/71r4nHPkV0L.png"
                  />
                  <h3>@{{ post.author }}</h3>
                </div>
                <div class="posting__post__user__username">
                  <p>{{ post.timestamp }}</p>
                </div>
              </div>
              <div class="posting__post__content">
                    <p>
                      {% load static %}
                      <img src="{% static "img/icono_tweeter.png" %}">
                      {{ post.content }}
                    </p>
              </div>
              {% if isOwnProfile %}
              <div class="posting__post__options">
              <div class="posting__post__option">
               <span onClick="editPost({{post.id}})" class="iconify" data-icon="fa-solid:edit" data-inline="false"></span>
               <p>Edit</p>
              </div>
              <div class="posting__post__option">
                <span onClick="deletePost({{post.id}})"class="iconify" data-icon="fluent:delete-24-filled" data-inline="false"></span>
                <p>Delete</p>
              </div>
              </div>
              {% endif %}
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      
      <div class="profile__user__followers">
      <div class="profile__user__followers__title">
        <h1>Followers</h1>
      </div>
      
      {% for follower in followers %}
        <div class="profile__user__follower__item">
          <div class="profile__user__follower__image">
              <img
                src="https://images-na.ssl-images-amazon.com/images/I/71r4nHPkV0L.png"
              />
            </div>
            <div class="profile__user__follower__info">
              <h3>@{{ follower.follower}}</h3>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

      
    </div>
  </div>
</div>

{% block edit %}

{% endblock %}

{% block delete %}

{% endblock %}
<script text="type/javascript">
function editProfile(){
  
}

function editPost(post){
  console.log("edit post with id = " + post);
}

function deletePost(post){
  console.log("delete post with id = " + post);
}
</script>
{% endblock %}