{% extends "base.html" %}

{% block content %}

<div class="login__container">
  <div class="login_parche">
    <div class="login__header">
      <h1>Tweeter</h1>
      
      {% load static %}
      <img class="navbar_user" src="{% static "img/icono_tweeter.png" '%}" />
    </div>
    <div class="login__form">
      <form method="POST">
        {% csrf_token %}
        <div class='input__container'>
          <label for="id_new_user_form-username">Nombre de usuario</label>
          {{ form.username }}
        </div>
        <div class='input__container'>
          <label for="id_new_user_form-username">Contaseña</label>
          {{ form.password }}
        </div>
        <div class="login__form__submit">
            <button class="btn large blue" type="submit" class="login_submit">
            <span>Inciar Sesion</span>
            </button>
        </div>
        
      </form>
      <div class="login__form__switch">
          <p>No tienes una cuenta creada?
            <a href='{% url 'register' %}'> Registrate </a>
          </p> 
      </div>
    </div>

  </div>
</div>  

{% endblock %}

