{% extends 'base.html' %}

{% block content %}

    <div class= "container">
        <div class="register__header">
            <h1>Tweeter</h1>
            <img class="navbar_user" src="https://icons-for-free.com/iconfiles/png/512/avatar+human+male+man+men+people+person+profile+user+users-1320196163635839021.png" />
        </div>
        <div class="register__form">
            <form method="POST">
                {% csrf_token %}
                <div class='input__container'>
                    <label for="id_new_user_form-username">Username</label>
                    {{ form.username }}
                </div>
                <div class='input__container'>
                    <label for="id_new_user_form-username">Password</label>
                    {{ form.password }}
                </div>
                <div class='input__container'>
                    <label for="id_new_user_form-username">Repeat Pasword</label>
                    {{ form.repeatPassword }}
                </div>
                
                <p style="color:red">{{ error_code }}  </p>
                
                <input type="submit" class="btnenviar" value="Register" />
            </form>
            <p>Ya tienes una cuenta creada? <a href='{% url 'login' %}'> Inicia Sesión </a></p>
        </div>
    </div>

{% endblock %}

