{% block content %}
<div class="posting">
  <div class="posting__newPost">
    <div class="posting__newPost__content">
      <form method="POST" action="{% url 'addPost' %}">
        {% csrf_token %}
        <textarea
          name="content"
          class="newPost"
          cols="100"
          rows="10"
          type="text"
          placeholder="Enter a text..."
          maxlength="200"
        ></textarea>
        <button class="btn light" type="submit">Tweet</button>
      </form>
    </div>
  </div>
  <div class="posting__posts__container">
    <div class="posting__postsList">
      {% for post in posts %} {% include 'posts/post.html' %} {% endfor %}
    </div>
  </div>
</div>


{% endblock %}
